/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url('../public/food_background.jpg'); /* Corrected syntax and path */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Keep the background fixed when scrolling */
  color: white; /* Set default text color */
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh; /* Use min-height instead of height */
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}